@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');


.buttonMenu{
	-fx-background-color: black;
	-fx-font-size: 20;
	-fx-font-family: "Impact";
	-fx-border-color: white;
	-fx-border-radius: 2;
	-fx-border-width: 2;
	-fx-text-fill: #e8b53b;
}

.buttonBoard{
	-fx-background-color: #011e26;
	-fx-font-family: "Press Start 2P", cursive;
	-fx-border-color: white;
	-fx-border-radius: 2;
	-fx-border-width: 2;
	-fx-text-fill: white;
}

.styleTITLE{
	-fx-font-family: 'Rubik Glitch', cursive;
	-fx-text-fill: #04efff;
}

.textStyle{
	-fx-font-family: "Press Start 2P", cursive;
	-fx-text-fill: white;
}


.manaTextStyle{
	-fx-font-family: "Press Start 2P", cursive;
	-fx-text-fill: white;
	-fx-font-size: 20;
}

.buttonSelection{
	-fx-background-color: #eff9ba;
	-fx-font-family: "Press Start 2P", cursive;
	-fx-border-color: #424d30;
	-fx-border-radius: 2;
	-fx-border-width: 2;
	-fx-text-fill: #424d30;
}

.textStyleSelection{
	-fx-font-family: "Press Start 2P", cursive;
	-fx-font-size: 20;
	-fx-text-fill: #424d30;
}

.boardBG{
	-fx-background-image: url("/image/template_board_Inscript.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size: contain;
	-fx-background-size: 100% 100%;
}

.handBoardBG{
	-fx-background-image: url("/image/template_handboard.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size: contain;
	-fx-background-size: 100% 100%;
}

.selectionBG{
	-fx-background-image: url('/image/choose_your_deck_bg.png');
	-fx-background-repeat: no-repeat;
	-fx-background-size: contain;
	-fx-background-size: 100% 100%;
	
}

.battlePhaseButton{
	-fx-background-image:url('/image/battlePhaseButton.png');
	-fx-background-repeat: no-repeat;
	-fx-background-size: contain;
	-fx-background-size: 100% 100%;
	-fx-border-color: white;
	-fx-border-radius: 2;
	-fx-border-width: 2;
}

.ruleTop{
	-fx-background-image: url("/image/rule-background-top.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size: contain;
	-fx-background-size: 100% 100%;
}

.ruleCenter{
	-fx-background-image: url("/image/rule-background-center.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size: contain;
	-fx-background-size: 100% 100%;
	-fx-padding: 40;
}

.ruleBotton{
	-fx-background-image: url("/image/rule-background-botton.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size: contain;
	-fx-background-size: 100% 100%;
}

.styleRuleTITLE{
	-fx-font-family: 'Rubik Glitch', cursive;
	-fx-text-fill: #04efff;
	-fx-font-size: 40;
}

.ruleSectionStyle{
	-fx-padding: 0 0 40 0;
}

.sectionTileStyle{
	-fx-font-family: "Press Start 2P", cursive;
	-fx-text-fill: white;
	-fx-font-size: 20;
}

.sectionDecriptionStyle{
	-fx-font-family: "Press Start 2P", cursive;
	-fx-text-fill: white;
}

