.buttonMenu{
	-fx-background-color: black;
	-fx-font-size: 20;
	-fx-font-family: "Impact";
	-fx-border-color: white;
	-fx-border-radius: 2;
	-fx-border-width: 2;
	-fx-text-fill: #e8b53b;
}

.root{
	-fx-background-image: url("menu_background.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size: contain;
	-fx-background-size: 100% 100%;
}